@import "/src/pages/styles/variables.module.scss";

.pageWrapper {
  min-height: 100vh;
  background-color: $primary-dark;
  color: $primary-light;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.hotdogStand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}
.standImage {
  @media (max-width: 1200px) {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.reviewForm {
  border: 2px solid $secondary-light;
  background-color: $secondary-dark;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    max-width: 95%;
    margin-bottom: 20px;
  }
}

.review {
  border: 2px solid $secondary-light;
  background-color: $secondary-dark;
  color: $primary-light;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;

  h3 {
    color: $secondary-purple;
  }
}
