@import "/src/pages/styles/variables.module.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $primary-purple;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  li {
    list-style-type: none;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-logo {
    font-size: 24px;
    color: $primary-light;
  }

  .navbar-link,
  .menu-item {
    display: inline-block;
    font-size: 18px;
    color: $primary-light;
    padding: 0 15px;
    text-decoration: none;

    &:hover {
      color: $secondary-purple;
    }
  }

  .burger-icon {
    color: $primary-light;
    font-size: 60px;
    text-align: center;
    :hover {
      cursor: pointer;
    }
  }
}
