@import "/src/pages/styles/variables.module.scss";

.mapboxglContainer {
  width: 100%;
  height: calc(100% - 80px);

  @media (max-width: 768px) {
    width: 100%;
    height: 50vh;
  }
}

.mapboxglMap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.mapboxg1-popup {
  background-color: $primary-dark;
}

.popupLink {
  text-decoration: none;
  color: $primary-purple;
  :hover {
    cursor: pointer;
  }
}

.popupLi {
  list-style: none;
  margin: 0;
}
